/* Theme */

main, html.sr{
	background: #A11822;
	color: #FAFAFA;
}

footer{
    background: #222326;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}